<footer id="myFoot">
  <div class="container">
    <div class="col-3">
      <p>Created by Sebastian Uddén</p>
      <p>Email: <a href="mailto:sebastian.udden@gmail.com">sebastian.udden@gmail.com</a></p>
    </div>

    <div class="col-1">
      <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Woke retro</li>
        <li>ShoreDitch</li>
        <li>Readymade</li>
        <li>Scenester</li>
      </ul>
    </div>

    <div class="col-1">
      <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Woke retro</li>
        <li>ShoreDitch</li>
        <li>Readymade</li>
        <li>Scenester</li>
      </ul>
    </div>
    <div class="col-1">
      <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Woke retro</li>
        <li>ShoreDitch</li>
        <li>Readymade</li>
        <li>Scenester</li>
      </ul>
    </div>
  </div>
</footer>
