/* @font-face {
  font-family: "Aileron-Thin";
  src: url('../../assets/fonts/Aileron/Aileron-Thin.ttf') format("truetype");
}

main {
  background-color: #5e5e5e;
  color: white; */

  /* position: fixed; */
  /* left: 5%;
  top: 5%;
  bottom: 7%;
  width: 95%; */
  /* font-family: "Aileron-Thin", Verdana, Geneva, Tahoma, sans-serif; */
/* } */
/*
.port-item {

} */


