<main>
  <section class="home-hero">
    <div class="filter">
      <div class="container">
        <h1 class="title">Making super awesome stuff
          <span>out of dry code</span>
        </h1>
        <a href="" class="button button-accent">See My Work</a>
      </div>
    </div>
  </section>

    <section class="home-about">
      <div class="container">
        <div class="home-about-textbox">
          <h1>Who i am</h1>
          <p>Sit by the fire drink water out of the faucet hide head under
            blanket so no one can see cat is love, cat is life. Knock dish
            off table eating always hungry so favor packaging over toy. </p>
          <p><strong>Rub face on owner.</strong> Peer out window, chatter
            at birds, lure them to mouth. Chase ball of string eat a plant,
            kill a hand, i am the best have secret plans.</p>
        </div>
      </div>
    </section>

  <section class="portfolio">
    <h1>Some of my work</h1>

    <!-- portfolio item 01 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/traveler.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Adventurous</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 02 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/responsive-website.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Meticulous</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>

      <!-- portfolio item 03 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/htmlcss.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Educated</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>

      <!-- portfolio item 04 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/teamplayer.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Friendly</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>

      <!-- portfolio item 05 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/whalejump.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Extatic</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 06 -->
    <figure class="port-item">
      <img class="img" src="../../assets/images/stockphotos/strategic.jpg" alt="portfolio item">
      <figcaption class="port-desc">
        <p>Strategic</p>
        <a href="" class="button button-accent button-small">Project details</a>
      </figcaption>
    </figure>
  </section>

  <section class="cta">
    <div class="container">
      <h1 class="title title-cta">Like what you see?
        <span>Then what are you waiting for?</span>
      </h1>
      <a href="" class="button button-dark">Hire me</a>
    </div>
  </section>
</main>
